$backgroundColor: pink;
$diameter: 500px;
$top: 20%;
$left: 20%;

html, body {
   height: 100%;
   margin: 0;

   // hacky, fix
   overflow: hidden;
}

.directions, .fail-message, .play-btn-holder {
    width: 100%;
    text-align: center;
}

.directions, .fail-message{
    margin-top: 300px;
}

.directions {
    h1 {
        margin-bottom: 0;
        font-size: 32px;
    }
    a {
        display: block;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.play {
    margin: 0 auto;
}

.circle {
    display: none;
    position: absolute;
    border-radius: 50%;

    background-color: $backgroundColor;
    height: $diameter;
    width: $diameter;
    top: $top;
    left: $left;
}

.fail-message {
    display: none;

    h1 {
        font-size: 44px;
        margin-bottom: 4px;
    }
}

.touch-device {
    // is displayed if ontouchstart returns true
    display: none;

    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
    z-index: 5;

    .touch-message {
        width: 100%;
        padding: 50px 0 20px;
    }
    img {
        width: 200px;
    }
}

#counter {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.about {
    max-width: 620px;
    margin: 40px;

    .hc {
        font-style: italic;
    }
    .back {
        margin-top: 50px;
    }
    .byline {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
