$backgroundColor: pink;
$diameter: 500px;
$top: 20%;
$left: 20%;

html, body {
   height: 100%;
   margin: 0;
}

.circle {
    display: none;
    position: absolute;
    border-radius: 50%;

    background-color: $backgroundColor;
    height: $diameter;
    width: $diameter;
    top: $top;
    left: $left;
}

.message {
    display: none;
    font-size: 72px;
}

.touch-device {
    // is displayed if ontouchstart returns true
    display: none;

    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
    z-index: 5;

    .touch-message {
        width: 100%;
        padding: 50px 0 20px;
    }
    img {
        width: 200px;
    }
}
